link{ display: none;}

.inline-block{display: inline-block; vertical-align: top; }

.image1{border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    height: 100px;}

.image2{border: 100px solid #ddd;
    border-radius: 200px;
    padding: 100px;
    width: 150px;
    max-height:100px;}

.logo{width: 23%; padding: 1%;
margin: 0px;}

.Navigation{width: 73%; padding: 1%;}

.ul{width: 50%;margin-left: auto;}

.logo{text-align: center;}

.Heroimg{height: 40px;padding: 25px;}

.content{width: 500px; margin: 0 auto;}
    footer{background-color: #373738 ;}
    li{text-align:left;}
.inline-block{vertical-align:top}

button{background-color: blue;}

.flexContainer {display: flex;
    width: 75%;
    margin: 100px;
    padding: 100px;
    flex-direction:row;
}
.Research{width: 33%;
    border:10px;
    padding: 50px;
justify-content: space-evenly;}

.Empathy{width: 33%;
        border:10px;
        padding: 50px; 
    justify-content:space-evenly ;}

.Interview{width: 33%;
        border:10px;
        padding: 50px;
    justify-content: space-evenly;}

    /* <!My UX section code using CSS flex> */
/* .workGrid{
     display: grid;
     margin: 10px 50%;
     display: grid;
     min-height: 500px;
     height: 50vh;
     background-position: center;
     background-repeat: no-repeat;
    grid-template-columns:33% 33% 33%;
    grid-template-rows:33% 33% 33%;
   grid-template-areas:"Collabapp""FTCRedesign""NonProfitRedesign"} */

 #Collabapp{
   display: flex;
    grid-area: Collabapp;
    align-items: center;
    margin:10px;
    padding: 10px;
    margin-top: 10px;
    justify-content: space-evenly;
 }
 #FTCRedesign{
    display: flex;
    grid-area: FTCRedesign;
    align-items: center;
    margin:10px;
    padding: 10px;
    margin-top: 10px;
    justify-content: space-evenly;
 }
 #NonprofitRedesign{
    display: flex;
    grid-area:NonProfit Redesign;
    align-items: flex-end;
    margin:10px;
    padding: 10px;
    margin-top: 10px;
    justify-content: space-evenly;
    }
img{max-width: 100%;
max-height: 100%;
}
    .Iphone{  height: 150px;
    width: 150px;}
    .Waterforgood{height: 150px;
        width: 150px }

    @media only screen and (max-width:600px) and (orientation:landscape)
    {
    .flexContainer{grid-template-columns: 300px 300px 300px;
        grid-template-rows: 1fr;
        width: 100%;
        grid-template-areas: "Collabapp""FTCRedesign""NonProfitRedesign"}
    }
    
